![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [94]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies_db
import pymongo

In [8]:
import pandas as pd

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [63]:
q1=db.data.find({'name':'Babelgum'},{'name':1, '_id':0})


df= pd.DataFrame(q1)
df.head()
#solo hay una :(

       name
0  Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [61]:
q2 = db.data.find({'number_of_employees': {'$gt': 5000}}).limit(20)
df = pd.DataFrame(q2)
df = df[['name', 'number_of_employees']] #esto no me lo piden, pero es para que las tablas estén más concisas
df = df.sort_values(by='number_of_employees', ascending=False)
#df.shape

In [35]:
#df.head(20) 
#voy a poner los df.head() como comentarios para que no les aparezcan miles de tablas
#pero igual los pueden checar para ver que todo bien :)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [58]:
q3 = db.data.find({'founded_year': {'$gte': 2000, '$lte': 2005}},
                 {'name':1, 'founded_year':1})
df = pd.DataFrame(q3)
#df.head(5)
#df.shape

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [60]:
q4 = db.data.find( {
    'ipo.valuation_amount': {'$gte': 100000000},
    'founded_year': {'$lt': 2010}},
    {'name':1, 'ipo':1}
    
)
#puse mayor o igual que 100,000,000 porque da un poco igual ese límite. 
df = pd.DataFrame(q4)

#df.head(13) <<-- correr este código
#lo más frustrante es que PUTO WIX está en número 12...
# ¿se puede ser tan rico anunciándote en Youtube?

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [64]:
q5 = db.data.find( {
    'number_of_employees': {'$lt': 1000},
    'founded_year': {'$lt': 2005}
    
}).limit(10)

df = pd.DataFrame(q5)
df.shape

(10, 42)

### 6. All the companies that don't include the `partners` field.

In [106]:
q6 = db.data.find({'partners': {'$exists': False}})

df = pd.DataFrame(q6)
df.shape
#db.inventory.find( { item : { $exists: false } } )
#https://docs.mongodb.com/manual/tutorial/query-for-null-fields/
#lo hago como en la focumentación, pero según esto todas lo tienen, lo cual no creo.

(0, 0)

In [108]:
#es un poco tricky; son arrays.
qq = db.data.find({'partners':{'$not':{'$size':0}}})
df = pd.DataFrame(qq)
df.shape

(154, 42)

### 7. All the companies that have a null type of value on the `category_code` field.

In [79]:
q7 = db.data.find({'category_code':{'$type': 10}})
df = pd.DataFrame(q7)
#df.shape

(2751, 42)

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [83]:
q8 = db.data.find( {
    'number_of_employees': {'$gt': 100, '$lt': 1000}},
    {'name':1, 'number_of_employees':1})
df = pd.DataFrame(q8)
#df.shape

(753, 3)

### 9. Order all the companies by their IPO price descendently.

In [101]:
#tuve que poner limit 100 porque de otra manera me decía que mi memoria RAM no era suficiente :) 
q9 = db.data.find().sort('ipo.valuation_amount', pymongo.DESCENDING).limit(100)
df = pd.DataFrame(q9)
df.shape

(100, 42)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [102]:
q10 = db.data.find().sort('number_of_employees', pymongo.DESCENDING).limit(10)
df = pd.DataFrame(q10)
#df.head(10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [105]:
q11 = db.data.find( {
    'founded_month': {'$gt': 5}
    
}).limit(1000)

df = pd.DataFrame(q11)
#df.head(10)
#df.shape

(1000, 42)

### 12. All the companies that have been 'deadpooled' after the third year.

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.