In [1]:
import pandas as pd
import numpy as np

In [15]:
animals = pd.read_csv('animalss.csv')
#animals.head()

In [3]:
animals['bodywtkg'] = animals['bodywt']*.4536

In [14]:
#animals.head()

In [6]:
animals['wtratio'] = animals.bodywt/animals.brainwt

In [13]:
#animals.head()

In [8]:
animals['zerocheck'] = np.where(animals.brainwt!=0, animals.bodywt/animals.brainwt, 0)

In [12]:
#animals.zerocheck.unique()

In [16]:
df1 = pd.DataFrame(np.random.randn(10,3), columns=['a','b','c'])
df2 = pd.DataFrame(np.random.randn(10,3), columns=['a','b','c'])

In [18]:
pd.eval('df1<df2')

       a      b      c
0  False  False  False
1  False  False   True
2  False  False  False
3   True   True  False
4  False   True   True
5  False   True  False
6   True   True   True
7  False   True  False
8  False   True   True
9  False   True  False

In [19]:
pd.eval('df1.b>0')

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: b, dtype: bool

In [24]:
df1.query('b>0')

          a         b         c
0 -0.275863  1.535789  1.219983
1  0.230235  0.775609  0.312621
2  0.502126  0.745313  0.575299

In [25]:
#lookup: cosas estacionales

seasons = pd.DataFrame(np.random.random((10,4)),columns=['winter','spring','summer','autumn'])

In [26]:
seasons.head()

     winter    spring    summer    autumn
0  0.786800  0.949799  0.546439  0.842668
1  0.464535  0.097610  0.555182  0.193733
2  0.003053  0.230203  0.919470  0.436107
3  0.653844  0.229080  0.542585  0.376267
4  0.086726  0.742560  0.017484  0.330010

In [30]:
look= ['winter','winter','spring','spring','summer','autumn', 'spring','summer','autumn', 'spring']

In [31]:
seasons.lookup(seasons.index,look)

array([0.7867998 , 0.46453526, 0.23020255, 0.22908014, 0.01748379,
       0.83736226, 0.25837245, 0.44173477, 0.01754157, 0.38906972])

In [32]:
#la otra:
luke = ['winter','winter','spring','spring']
seasons.lookup(seasons.index[:4], luke)

array([0.7867998 , 0.46453526, 0.23020255, 0.22908014])

In [33]:
seasons.get(seasons.winter>.5)

     winter    spring    summer    autumn
0  0.786800  0.949799  0.546439  0.842668
3  0.653844  0.229080  0.542585  0.376267
7  0.984208  0.486829  0.441735  0.615769

In [40]:
auto = pd.read_csv('vehicles/vehicles.csv')
#auto.head()

In [35]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

In [36]:
columnas = ['MPG','Cylinders', 'Displacement', 'Weight', 'Acceleration', 'Model-Year', 'Origin', 'Car_Name']

In [42]:
autos = pd.read_csv(url, sep='\\s+', names=columnas)
autos.head()
autos.shape

(398, 8)

In [43]:
#autos.index = [i for i in range(399)]
#autos.index = pd.RangeIndex(0,398*2,2)
#autos.index = range(len(auto))
autos.index = pd.RangeIndex(0,398)
autos.head(2)

,MPG,Cylinders,Displacement,Weight,Acceleration,Model-Year,Origin,Car_Name
0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320

In [48]:
autos.index= autos.Car_Name
autos.head(2)

,MPG,Cylinders,Displacement,Weight,Acceleration,Model-Year,Origin,Car_Name
Car_Name,,,,,,,,
chevrolet chevelle malibu,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
buick skylark 320,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320

In [49]:
#autos.set_index('Car_Name', inplace=True)
#se borra la columna Car_name
autos.index = pd.RangeIndex(0,398)
autos.head(2)

,MPG,Cylinders,Displacement,Weight,Acceleration,Model-Year,Origin,Car_Name
0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320

In [52]:
#multi-index

(autos.Car_Name+autos['Model-Year'].map(str)).value_counts()

plymouth reliant81            2
ford pinto75                  2
saab 99le73                   1
chrysler cordoba77            1
datsun 81077                  1
                             ..
volkswagen rabbit custom77    1
datsun b-21076                1
amc gremlin70                 1
buick electra 225 custom73    1
ford pinto71                  1
Length: 396, dtype: int64

In [53]:
autos.drop_duplicates(subset=['Car_Name', 'Model-Year'], inplace=True)

In [54]:
(autos.Car_Name+autos['Model-Year'].map(str)).value_counts()

saab 99le73                           1
mazda 62680                           1
ford f25070                           1
peugeot 50476                         1
fiat 12874                            1
                                     ..
datsun b-21076                        1
amc gremlin70                         1
buick electra 225 custom73            1
chevrolet chevelle concours (sw)72    1
ford pinto71                          1
Length: 396, dtype: int64

In [63]:
#auto.set_index(['Car_name', 'Model-Year'], inplace=True)
#hay dos índices

In [61]:
#re index

new_index = [('fiat punto', 71)] + list(autos.index)

In [64]:
auto_reindexed = autos.reindex(new_index)
#auto_reindexed.head()

In [67]:
#encadenar métodos
#auto.head()

In [66]:
vehicles = auto.copy()
vehicles.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [68]:
vehicles.corr()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Year,1.000000,0.037876,0.082469,-0.221084,0.161818,0.267259,0.204751,-0.222300,-0.091913
Engine Displacement,0.037876,1.000000,0.901858,0.789752,-0.740317,-0.715039,-0.746782,0.803520,0.769678
Cylinders,0.082469,0.901858,1.000000,0.739517,-0.703866,-0.650287,-0.698648,0.752393,0.778153
Fuel Barrels/Year,-0.221084,0.789752,0.739517,1.000000,-0.877752,-0.909664,-0.909743,0.986189,0.916208
City MPG,0.161818,-0.740317,-0.703866,-0.877752,1.000000,0.923856,0.985457,-0.894139,-0.858645
Highway MPG,0.267259,-0.715039,-0.650287,-0.909664,0.923856,1.000000,0.969392,-0.926405,-0.851404
Combined MPG,0.204751,-0.746782,-0.698648,-0.909743,0.985457,0.969392,1.000000,-0.926229,-0.875185
CO2 Emission Grams/Mile,-0.222300,0.803520,0.752393,0.986189,-0.894139,-0.926405,-0.926229,1.000000,0.930865
Fuel Cost/Year,-0.091913,0.769678,0.778153,0.916208,-0.858645,-0.851404,-0.875185,0.930865,1.000000

In [71]:
#vehicles.corr(method='spearman')